%h2
  Sign in

= simple_form_for(@student, as: :student, :url => session_path(:student)) do |f|
  .inputs
    = f.input :email, :required => false, :autofocus => true
    = f.input :password, :required => false
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?

  .actions
    = f.button :submit, "Sign in"

= render :partial => "devise/shared/links"
