= link_to @topic.course.title, course_path(@topic.course)
.entry
  %h2
    = @topic.title
  = I18n.l @topic.date
  %br
  %br
  = @topic.content.html_safe

= render partial: 'resources/list', locals: { resources: @topic.resources }

%br
- @topic.assignments.each do |assignment|
  = render partial: 'assignments/assignment', locals: { assignment: assignment }
