.entry
  .title
    = @course.title
.entry
  %span.label Кога:
  = "от #{I18n.l @course.start_date, :locale => :bg} до #{I18n.l @course.end_date, :locale => :bg}"
.entry
  %span.label Къде:
  = @course.location
  = link_to "карта", @course.map_url, :target => '_blank' unless @course.map.nil? || @course.map_url.nil?
.entry
  %span.label Програма:
  %br
  - @course.topics.each do |topic|
    = "#{topic.topic_order}."
    = link_to "#{topic.title}", topic_path(topic)
    ,
    = I18n.l topic.date
    %br

.entry
  %span.label Лектори:
  - @course.lecturers.each do |lecturer|
    %br
    = link_to lecturer.name, lecturer_path(lecturer)
.entry
  %span.label Участници:
  = @course.audience
.entry.registration
  %span.label Регистрация:
  - if @course.sold_out?
    %span.emphasized
      = t '.sold_out'
    %br
    = t '.sold_out_message'
  - else
    = @course.registration_notice.html_safe

  %br
  - if student_signed_in?
    - if current_student.enrolled_for_course? @course
      %span.info
        Записан сте за този курс
    - else
      = render template: 'enrollments/new'
  - else
    = link_to "Влезте в профила си", new_student_session_path
    или се
    = link_to "регистрирайте", new_student_registration_path
    за да се запишете като участник в курса

= render partial: 'resources/list', locals: { resources: @course.resources }
