.entry
  = link_to course.title, course_path(course)
  %br
  = "#{t '.from'} #{I18n.l course.start_date, :locale => :bg} #{t '.from'} #{I18n.l course.end_date, :locale => :bg}"
  %br
  = course.location
