= simple_form_for(@solution, validate: true, html: { multipart: true }) do |f|
  %div.field
    = f.input_field :comment, placeholder: t('.comment')
    = hidden_field_tag 'solution[assignment_id]', 1

  %h3
    = t '.files'
  #resources
    = f.simple_fields_for :solution_resources do |resource|
      = render 'topics/solution_resource_fields', f: resource
    .links
      = link_to_add_association t('.add_file'), f, :solution_resources
  %br
  = f.submit t('.send_solution')
