!!!
%html
  %head
    %title
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
%body
  #page
    #page_content
      #header
        #header_content
          #logo
            = link_to image_tag('yoda.png'), root_path
            #header_text
              = t '.header_text'
          #login
            - if student_signed_in?
              = t '.hi'
              = link_to current_student.first_name, edit_student_registration_path
              |
              = link_to t('.logout'), destroy_student_session_path, :method => :delete
      #content_wrapper
        #content
          = yield

      #footer
        #footer_content
          #footer_left
          #footer_right
