!!!
%html
  %head
    %title
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
%body
  #page
    #page_content
      #header
        #header_content
          #logo
            = link_to image_tag('yoda.png'), root_path
            #header_text
              May the force be with you
          - if student_signed_in?
            = 'Здравей,'
            = link_to current_student.first_name, edit_student_registration_path
            |
            = link_to "изход", destroy_student_session_path
      #content_wrapper
        #content
          = yield

      #footer
        #footer_content
          #footer_left
          #footer_right
