%h2 
  = t '.my_profile'

= simple_form_for(@student, url: registration_path(:student), html: { :method => :put }, validate: true) do |f|
  = f.error_notification 

  .inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email, required: true, autofocus: true
    = f.input :password, hint: t('.password_hint'), required: false
    = f.input :password_confirmation, required: false
    %br
    = f.input :current_password, hint: t('.old_password_hint'), required: true


  .actions
    = f.button :submit, t('.update')

  %br
  %h2
    = t '.my_courses'
- if @student.verified_enrollments && @student.verified_enrollments.count > 0
  - @student.verified_enrollments.each do |enrollment|
    = render partial: 'courses/short_info', locals: { course: enrollment.course }
- else
  = t '.no_enrollments_for_courses'
