%h2
  = t '.sign_up'

= simple_form_for(@student, url: registration_path(:student), validate: true) do |f|
  = f.error_notification 

  .inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email, :required => true, :autofocus => true 
    = f.input :password, :required => true 
    = f.input :password_confirmation, :required => true 

  %br
  .actions
    = f.button :submit, t('.sign_up')

= render :partial => "devise/shared/links" 
