%h2
  Sign up

= simple_form_for(@student, :url => registration_path(:student)) do |f|
  = f.error_notification 

  .inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email, :required => true, :autofocus => true 
    = f.input :password, :required => true 
    = f.input :password_confirmation, :required => true 

  .actions
    = f.button :submit, "Sign up" 

= render :partial => "devise/shared/links" 
